.Dogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Dog-image {
    width:200px;
    border-radius: 50%;
    margin: 50px;
    filter: grayscale(90%);
    transition: all 1s;
    box-shadow: 0 19px 23px rgba(0,0,0,0.3),0 10px 15px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}

.Dog-image:hover{
    filter: none;
}

 .Dogs-container .Dog-name  {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2rem;
    border: 4px solid transparent;
}

.link-item {
    text-decoration: none;
}